.upload-box{
  padding: 20px 50px 20px 50px;
  width: 25%;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

container{
  /*color: #000!important;*/
}

.video-container{
  color: #fff!important;
  padding: 25px 75px 25px 75px;
}

.interface-container{
  background-color: #000;
  width: 65%;
  margin: auto;
  padding-top: 0px;
}

.container{
  /*padding-top: 100px;*/
  padding-bottom: 100px;
  color: #fff!important;

}

.video-info{
  color: #fff;
}

#id_video{
  color: black;
}

#upload-button{
  background-color: #6A5ACD!important;
  border: none;
}
