RESULTS_FOLDER_NAME/*
.python-version
.idea/*
.DS_Store
__pycache__/*
*.pyc
*.pyc
/secret.sh
secret.sh
*.avi
*.mp4
/backend/media/documents/RESULTS_FOLDER_NAME/*.jpg
/backend/media/documents/RESULTS_FOLDER_NAME/*.mp3
backend/media/documents/RESULTS_FOLDER_NAME/data.json
