{% load staticfiles %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Face Finder</title>
<!-- Core CSS - Include with every page -->
<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/login_form.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<body background="{% static 'img/background.png' %}">

</head>
        <body>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-left"><img src="{% static "img/logo.png" %}" style="width:50px;height:50px;"></a>
                        <!-- <a class="navbar-brand" href="/"><img src= alt="LOGO"/></a> -->
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                            {% if not user.is_authenticated %}
                              <li id="signup-btn"><a href="{% url 'login' %}"></span>Home</a></li>
                            {% endif %}
                              <li id="signup-btn"><a href="{% url 'signup' %}"></span>Sign Up</a></li>
                            <li id='my-side-nav' class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <!--<li>-->
                                        <!--<a href="#">Another action</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Something else here</a>-->
                                    <!--</li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li>-->
                                        <!--<a href="#">Separated link</a>-->
                                    <!--</li>-->
                                    <!--<li class="divider"></li>-->
                                    <li>
                                        <a href="/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        {% block content %}
        {% endblock %}


            <!-- Core Scripts - Include with every page -->
            <script src = "{% static 'jquery.min.js' %}"></script>
            <script src = "{% static 'bootstrap.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}
        </body>
</html>
