{% extends 'header.html' %}
{% load tz %}

{% block content %}
	<div class= "home-wrapper" style="width:50%; margin:auto;">
		<div class="jumbotron">

			<h1></span>	FACE FINDER</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>

			<div class="row">

				<div class="col-lg-4 col-sm-6">
					<div class="thumbnail">
						<h1><i class="fa fa-video-camera" aria-hidden="true"></i></h1>
						<h3>SCAN FACE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="thumbnail">
							<h1><i class="fa fa-cloud-upload" aria-hidden="true"></i></h1>
							<h3>UPLOAD</h3>
							<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>

						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="thumbnail">
								<h1><i class="fa fa-smile-o" aria-hidden="true"></i></h1>
								<h3>RETURN MESH</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>

						<div class="jumbotron">

							<h1></span>	FACE FINDER</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
			</div>

{% endblock %}

{% block javascript %}

<script>
{% if user.is_authenticated %}
    $("#signup-btn").css("display","none");
{% endif %}
</script>

{% endblock %}
