{% extends 'header.html' %}
{% load tz %}
{% load staticfiles %}
{% block content %}
<div class= "home-wrapper">
		<div class="jumbotron" style="margin-top:15px!important;">
			<h2 style="font-size:45px;"></span>FACEFINDER </h2>
		</div>

	<section>
		<div class="row">
		<div class="header">
			<h3>How facefinder works</h3>
		</div>

		<div class="section">
					<div class="col-lg-4 col-sm-6">
						<div class="thumbnail" style="height: 350px;">
							<h2><i class="fa fa-video-camera" aria-hidden="true"></i></h2>
							<img src="{% static 'img/face-scan.png' %}"></img>
							<h4>1. SCAN FACE</h4>
							<p>Capture a front-facing video of your face using a smartphone.</p>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6">
							<div class="thumbnail" style="height: 350px;">
								<h2><i class="fa fa-cloud-upload" aria-hidden="true"></i></h2>
								<img src="{% static 'img/upload.svg' %}"></img>
								<h4>2. UPLOAD YOUR VIDEO</h4>
								<p> Create an account or log in and upload your video on your MyVideos page.</p>
								</div>

							</div>

							<div class="col-lg-4 col-sm-6">
								<div class="thumbnail" style="height: 350px;">
									<h2><i class="fa fa-smile-o" aria-hidden="true"></i></h2>
									<img src="{% static 'img/triangle.png' %}"></img>
									<h4>3. DELAUNAY TRIANGLES</h4>
									<p>Facefinder will generate a mesh of your fash using delaunay triangulation.</p>
									</div>
								</div>
							</div>
						</div>
		</section>

		<section>
		<div class="jumbotron">
			<h2></span>	DEMO </h2>
			</div>
			<div class="youtube-video-container">
			<iframe style="height: 500px; width: 100%; padding-bottom: 20px;" src="https://www.youtube.com/embed/GGx8gxp9LyY">
			</div>
			</iframe>
		</section>

		<section>
		<div class="jumbotron">
			<h2></span>	MEET THE TEAM </h2>
			</div>

			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<h2><i class="fa fa-smile-o" aria-hidden="true"></i></h2>
						<div class='pic-container'><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14045645_10154403129721753_7397092232993072353_n.jpg?oh=14f79df98c917e826b9529c2b378ddca&oe=5A9817C2"></img></div>
						<h4>Jaeho Park</h4>
						<p style="font-weight:bold;">Front-End Developer</p>
						<p style="text-align:left;">Tasks Completed: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-4">
						<div class="thumbnail">
							<h2><i class="fa fa-video-camera" aria-hidden="true"></i></h2>
							<div class='pic-container'><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/21432960_1887015328227646_8424254346576671249_n.jpg?oh=c7f80ba93b8c4dc2c6a4eb11ab06dd60&oe=5A69BB8F"></img></div>
							<h4>Andrey Lubenets</h4>
							<p style="font-weight:bold;">Front-End Developer</p>
							<p style="text-align:left;">Tasks Completed: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>

				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<h2><i class="fa fa-video-camera" aria-hidden="true"></i></h2>
						<div class='pic-container'><img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/15823604_1163125787075938_3178914401243601487_n.jpg?oh=7a86594aa51310f92f2c01fe2c9662fa&oe=5A9FA3DF"></img></div>
						<h4>Rodion Sergijovych</h4>
						<p style="font-weight:bold;">Front-End Developer</p>
						<p style="text-align:left;">Tasks Completed: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>

				<div class="col-lg-3 col-sm-6">
					<div class="thumbnail">
						<h2><i class="fa fa-smile-o" aria-hidden="true"></i></h2>
						<div class='pic-container'><img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/c83.408.512.512/s100x100/20727980_10210777089757436_4374271724506121994_n.jpg?oh=f8ce62058de157ff42afc850be31bf71&oe=5ACFD55D"></img></div>
						<h4>Ahmed Ahmed</h4>
						<p style="font-weight:bold;">Front-End Developer</p>
						<p style="text-align:left;">Tasks Completed: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
		 </section>

		<div class="jumbotron" style="margin-top:15px!important;" id="stack-jumbotron">
				<h2></span>	OUR STACK </h2>
					<section class="stack-pictures">
									<a href="https://www.python.org/"><img src="http://www.unixstickers.com/image/cache/data/stickers/python/python_sh-600x600.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.djangoproject.com/"><img src="https://juststickers.in/wp-content/uploads/2016/05/django-badge.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://opencv.org/"><img src="https://rlv.zcache.com/opencv_square_sticker-r98db3868a86844b78de9f37f78c96260_v9wf3_8byvr_540.jpg", style="width: 75px; height: 75px" ></img></a>
									<a href="https://www.ffmpeg.org/"><img src="https://cdn-ssl-devio-img.classmethod.jp/wp-content/uploads/2017/01/ffmepg-logo.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.w3.org/Style/CSS/"><img src="https://seeklogo.com/images/C/css3-logo-8724075274-seeklogo.com.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.w3.org/html/"><img src="https://seeklogo.com/images/H/html5-logo-EF92D240D7-seeklogo.com.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.postgresql.org/"><img src="https://raw.githubusercontent.com/docker-library/docs/01c12653951b2fe592c1f93a13b4e289ada0e3a1/postgres/logo.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.heroku.com"><img src="https://a.slack-edge.com/bfaba/img/api/hosting_heroku.png", style="width: 75px; height: 75px"></img></a>
									<a href="https://www.docker.com/"><img src="https://images.techhive.com/images/article/2015/07/docker-logo-copy-100594460-small.idge.png", style="width: 75px; height: 75px"\></img></a>
					</section>
				</div>
	</div>

{% include 'footer.html' %}
{% endblock %}
{% block javascript %}

<script>
{% if user.is_authenticated %}
    $("#signup-btn").css("display","none");
{% endif %}
</script>

{% endblock %}
