{% extends 'header.html' %}
{% load staticfiles %}

{% block content %}

<section>
  <div class="login-container">
    <div class="form-header">
      <h4> Welcome back! </h4>
    </div>
    <div class="form">
      <form method="post">
      {% csrf_token %}
        <ul>
          <li class="form-inputs">{{ form.firstname }} </li>
          <li class="form-inputs">{{ form.lastname }} </li>
          <li class="form-inputs">{{ form.username }} </li>
          <li class="form-inputs">{{ form.password }} </li>
        <li action="{% url 'login' %}" class="form-inputs">
          <input class="btn btn-success btn-md" type="submit" value="Login" id="submit-button"/>
        </li>
          <input type="hidden" name="next" value="{{ next }}" />
        </ul>
     </form>
   </div>
  </div>
</section>


{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
    $("#my-side-nav").css("display","none");
{% endif %}
</script>

<script>
{% if form.errors %}
  alert("Your username and password didn't match. Please try again.");
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
    alert("Your account doesn't have access to this page. To proceed, please login with an account that has access.");
    // alert("Please login to see this page.");
    // Console.log("Please login to see this page.");
  {% endif %}
{% endif %}

</script>

{% endblock %}
