{% extends 'header.html' %}
{% load tz %}

{% block content %}

<div class="interface-container">
  <div class="container" style="padding-bottom: 0px!important;">
    <div class="row">
        <div class="upload-box">
            <h3>Hi, {{ user.first_name }}. Upload your video for analysis</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.video }}
              </br><input class="btn btn-success btn-md" style="margin:auto;" type="submit" value="Upload Your Video" />
              </form>
        </div>
    </div>
</div>
    {% if videos|length > 0 %}
    <div class="video-container">
        <table class="table">
            <thead>
                <tr>
                  <!-- <th scope="col" class="video-info">Date</th> -->
                  <th scope="col" class="video-info">Original Video</th>
                  <th scope="col" class="video-info">Final Video</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <!-- <td class="video-info">{{video.uploaded_at|timezone:"America/Los_Angeles"}}</td> -->
                    <td class="col-md-5">
                        <video controls width="320" height="240">
                            <source src="{{video.video.url}}" type="video/mp4">
                        </video>
                    </td>
                    <td class="col-md-5">
                        <video controls width="320" height="240">
                            <source src="{{video.video.url}}" type="video/mp4">
                        </video>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>

    {% endif %}

{% endblock %}

{% block javascript %}

<script>
{% if user.is_authenticated %}
    $("#signup-btn").css("display","none");
{% endif %}
</script>

{% endblock %}
