*{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.navbar-inverse{
  border-radius: 0px;
  background-color: #000;
}

ul.nav a:hover{
  background-color: #000!important;
  color: #696969!important;
}

.p-alert{
  padding-left: 50%!important;
}

a{
  color: #fff!important;
  text-decoration: none;
  font-size: 18px;
}

.panel-title{
  text-align: center;
  text-decoration:
}

.dropdown-menu{
  background-color: #696969;
  text-decoration: none;
  font-size: 18px;
  width: 350px!important;
  text-align: center;
}
