
.btn-success{
  margin-left: 50px;
}
.panel{
  border: none;
}
.panel-heading{
  background-color: #000!important;
  color: #fff!important;
  border: 2px solid #000!important;
}

.bs-component{
  width: 50%;
  margin: 0 auto;
}

.panel-default{
  width:100%!important;
}

p{
  width: 50%!important;
margin: 0 auto!important;
}

.login-panel{
  width:100%!important;
}

td, th{
  padding-bottom:15px!important;
}
